:root {
    --user-message-background-color: hsl(25, 20%, 88%);
    --assistant-message-background-color: hsl(25, 10%, 100%);
    --user-message-border-color: hsla(25, 20%, 80%, 0.2);
    --assistant-message-border-color: hsla(25, 10%, 80%, 0.2);
    --accent-color: #9A806D;
    --primary-color: #453728;
    --secondary-color: #AAAAAA;
    --tertiary-color: #E7E0DB;
    --quaternary-color: #D3E0DB;
    --light-gray: #f0f0f0;
    --dark-gray: #333;
    --code-block: hsla(26, 19%, 80%, 0.2);
    --edit-operation-color: #fff;
    --shadow-color: rgba(82, 78, 76, 0.15);
    --fs-body: 1em;
    --fs-footnote: 0.8em;
    --padding: 14px;
    --ui-magic-value-base: 8;
    --border-radius: calc(var(--ui-magic-value-base) * 0.35px);
    --border-radius-small: calc(var(--ui-magic-value-base) * 0.25px);
    --border-radius-large: calc(var(--ui-magic-value-base) * 0.5px);
    --border-radius-xlarge: calc(var(--ui-magic-value-base) * 1px);
    --border-radius-xxlarge: calc(var(--ui-magic-value-base) * 2.2px);
    --border-radius-pill: 1000px;
    --default-cubic-bezier: cubic-bezier(.42, 0, .58, 1);
}

@media (prefers-color-scheme: dark) {
    :root {
        --user-message-background-color: hsl(210, 16%, 12%);
        --assistant-message-background-color: hsl(18, 11%, 36%);
        --user-message-border-color: hsla(210, 16%, 12%, 0.5);
        --assistant-message-border-color: hsla(18, 11%, 36%, 0.5);
        --accent-color: #675953;
        --primary-color: #BAC2D7;
        --secondary-color: #555555;
        --tertiary-color: #1A1F24;
        --quaternary-color: #2C1F24;
        --light-gray: #0f0f0f;
        --dark-gray: #ccc;
        --code-block: hsla(0, 0%, 18%, 0.2);
        --shadow-color: rgba(173, 177, 179, 0.15);
    }
}

body, html {
    color: var(--dark-gray);
    cursor: default;
    user-select: none;
    margin: 0;
    padding: 0;
}

.plain {
    white-space: pre;
    line-height: 1;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    font-size: 1em;
}

h1::before {
    contentHTML: "# ";
    opacity: 0.6;
}

h2::before {
    contentHTML: "## ";
    opacity: 0.6;
}

h3::before {
    contentHTML: "### ";
    opacity: 0.6;
}

h4::before {
    contentHTML: "#### ";
    opacity: 0.6;
}

h5::before {
    contentHTML: "##### ";
    opacity: 0.6;
}

h6::before {
    contentHTML: "###### ";
    opacity: 0.6;
}

/* Headers, links, and blockquotes */
a {
    color: var(--primary-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

blockquote {
    color: var(--dark-gray);
    border-left: 4px solid var(--secondary-color);
    padding-left: 1em;
    margin: 1em 0;
}

/* Lists */
ul, ol {
    padding-left: 2em;
}

/* Code blocks */
code {
    color: var(--dark-gray);
    font-family: monospace;
    word-wrap: break-word;
}

pre {
    background-color: var(--code-block);
    color: var(--dark-gray);
    padding: 1em;
    white-space: pre-wrap;
    border-radius: var(--border-radius-large);
    position: relative;
}

pre code {
    display: block;
    color: inherit;
    background-color: transparent;
    white-space: pre-wrap;
    overflow: auto;
}

pre code::-webkit-scrollbar {
    height: 5px;
    width: 5px;
}

pre code::-webkit-scrollbar-corner {
    background: transparent;
}

pre .copy-button {
    border-radius: var(--border-radius-xlarge);
    background-color: var(--light-gray);
    width: 1.7em;
    height: 1.7em;
    border: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 1em;
    right: 1em;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.5;
    transition: opacity 0.2s var(--default-cubic-bezier);
    mix-blend-mode: multiply;
}

pre .copy-button:hover {
    filter: brightness(95%);
    opacity: 1;
}

pre .copy-button:active {
    filter: brightness(88%);
    opacity: 1;
}

pre .copy-button svg {
    width: 50%;
    height: 50%;
    color: var(--secondary-color);
}

/* Tables */
table {
    border-collapse: collapse;
    width: 100%;
}

table, th, td {
    border: 1px solid var(--quaternary-color);
}

th, td {
    padding: 0.5em;
    text-align: left;
}

p {
    margin: 0;
    hyphens: auto;
    -webkit-hyphens: auto;
    -webkit-hyphenate-character: "\2010";
    -webkit-hyphenate-limit-after: 1;
    -webkit-hyphenate-limit-before: 3;
    -moz-hyphens: auto;
}

p:not(:last-child) {
    margin-bottom: 0.5em;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: var(--border-radius-large);
}

hr {
    border: none;
    border-top: 1px solid var(--tertiary-color);
    margin: 1em 0;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#conversation-scroll-container {
    overflow: auto;
    height: 100vh;
    display: flex;
    flex-direction: column-reverse;
    overflow-anchor: auto !important;
}

#conversation-container {
    display: flex;
    flex-direction: column;
    gap: var(--padding);
}

.header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0.6;
}

.header-content .creation-date {
    font-size: var(--fs-footnote);
    color: var(--accent-color);
}

.message-container {
    cursor: initial;
}

.message-container.card {

}

.message-container.card .operation-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: var(--fs-footnote);
    gap: 1em;
    margin-top: 0.5em;
}

.message-container.card .validity-check {
    color: var(--secondary-color);
    font-size: var(--fs-footnote);
    font-style: italic;
}

.message-container.card .operation-group {
    display: flex;
    flex-direction: row;
    gap: 1em;
}

.message-container.card .operation-group .button {
    background-color: var(--secondary-color);
    color: var(--edit-operation-color);
    border: none;
    padding: 0.5em 1em;
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: all 0.2s var(--default-cubic-bezier);
}

.message-container.card .operation-group .button.primary {
    background-color: var(--accent-color);
}

.message-container.card .operation-group .button:hover {
    filter: brightness(90%);
}

.message-container.card .operation-group .button:active {
    filter: brightness(80%);
}

.config-key-container {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    padding: 5px 0;
    gap: 5px;
}

.config-key-container::-webkit-scrollbar {
    height: 3px;
}

.config-key-token {
    display: inline-block;
    background-color: var(--light-gray);
    border-radius: var(--border-radius);
    border: 1px solid var(--shadow-color);
    padding: 0.2em 0.5em;
    cursor: pointer;
}

.config-content {
    background-color: rgba(82, 78, 76, 0.01);
    border-top: 1px solid var(--shadow-color);
    padding: var(--padding);
    border-bottom: 1px solid var(--shadow-color);
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    width: 100%;
    box-sizing: border-box;
}

.config-content .no-config {
    color: var(--secondary-color);
    font-style: italic;
}

.config-content .config-row {
    display: flex;
    flex-direction: row;
    align-items: start;
    gap: 1em;
}

.config-content .config-key {
    color: var(--secondary-color);
}

.config-content .config-key::after {
    content: ": ";
    color: var(--primary-color);
}

.config-content .config-value {
    color: var(--primary-color);
}

.message-container.bubble {
    box-sizing: border-box; /* Include padding and border in element's total width and height */
    margin-left: var(--padding);
    margin-right: var(--padding);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--padding);
    opacity: 0;
    transform: translateX(-100%);
}

.message-container:first-child {
    margin-top: var(--padding);
}

.message-container:last-child {
    margin-bottom: var(--padding);
}

.message-container.user {
    justify-content: flex-end;
    opacity: 0;
    transform: translateX(100%);
}

.message-container.static {
    opacity: 1 !important;
    transform: translateX(0) !important;
}

.message-container.bubble.animated {
    animation: fadeInFromLeft 0.2s var(--default-cubic-bezier) forwards;
}

.message-container.user.animated {
    animation: fadeInFromRight 0.2s var(--default-cubic-bezier) forwards;
}

.message-container.card.animated {
    animation: fadeIn 0.2s var(--default-cubic-bezier) forwards;
}

.message-container.user > .message-nodes-container {
    align-items: flex-end;
}

.message-container.user pre code {
    max-height: 60vh;
}

.shadow-message-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5em;
    transform-origin: top left;
    transform: scale(0.5, 0) translateY(-100%);
    animation: shadowScaleUp 0.2s var(--default-cubic-bezier) forwards;
}

.shadow-message-container .message-content {
    opacity: 0.65;
    cursor: pointer;
    transition: all 0.2s var(--default-cubic-bezier);
}

.shadow-message-container .message-content:hover {
    opacity: 0.9 !important;
}

.shadow-message-container .config-content {
    cursor: pointer;
    opacity: 0.65;
    transition: all 0.2s var(--default-cubic-bezier);
}

.shadow-message-container .config-content:hover {
    opacity: 0.9 !important;
}

.shadow-message-container.user {
    align-items: flex-end;
    transform-origin: top right;
}

.message-node {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.7em;
}

.message-content .clipped-content {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
            line-clamp: 3;
    -webkit-box-orient: vertical;
}

.message-container > .message-nodes-container {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.message-container.user .message-content {
    text-align: left;
    border-radius: var(--border-radius-xxlarge) var(--border-radius-xxlarge) var(--border-radius-large) var(--border-radius-xxlarge);
    background-color: var(--user-message-background-color);
    border: 1px solid var(--user-message-border-color);
}

.message-content * {
    user-select: text;
}

.message-content {
    display: inline-block;
    padding: 14px 20px;
    border-radius: var(--border-radius-xxlarge) var(--border-radius-xxlarge) var(--border-radius-xxlarge) var(--border-radius-large);
    border: 1px solid var(--assistant-message-border-color);
    background-color: var(--assistant-message-background-color);
    max-width: 61.8vw;
    line-height: 1.4;
    min-height: 1em;
    user-select: text;
}

.message-container textarea {
    background-color: transparent;
    border: none;
    resize: none;
    height: 1.4em;
    width: 60vw;
    resize: none;
    overflow: hidden;
    min-height: 10px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: var(--fs-body);
    color: var(--dark-gray);
    outline: none;
    vertical-align: middle;
}

.message-container.card textarea {
    width: 100%;
}

.message-content-editing {
    border: 1px solid var(--shadow-color);
    background: transparent !important;
    transition: border 0.1s var(--default-cubic-bezier);
}

.message-content-editing:focus-within {
    border: 1px solid var(--accent-color) !important;
}

.sibling-switcher {
    font-size: var(--fs-footnote);
    color: var(--secondary-color);
    transition: all 0.2s var(--default-cubic-bezier);
}

.message-container.card .sibling-switcher {
    margin: 0 var(--padding);
}

.edit-operation-button {
    border-radius: var(--border-radius-pill);
    width: 1.6em;
    height: 1.6em;
    border: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.edit-operation-button svg {
    width: 85%;
    height: 85%;
    color: var(--edit-operation-color);
}

.edit-operation-button-cancel {
    background-color: var(--shadow-color);
}

.edit-operation-button-submit {
    background-color: var(--accent-color);
}

.message-divider {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--secondary-color);
    font-size: var(--fs-footnote);
    padding-left: var(--padding);
    padding-right: var(--padding);
}

.message-divider .top-padding {
    padding-top: var(--padding);
}

.message-divider .datetime-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.message-divider .datetime {
    padding: 0 var(--padding);
}

.message-divider .arrow-icon {
    width: 1.5em;
    height: 1.5em;
}

.message-divider .branch-switch-button {
    border-radius: var(--border-radius);
    background-color: var(--light-gray);
    width: 2.4em;
    height: 2em;
    border: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.message-divider .branch-switch-button svg {
    width: 70%;
    height: 70%;
    color: var(--secondary-color);
}

.message-divider .divider {
    border-top: 1px solid var(--secondary-color);
    flex-grow: 1;
}

.spacer {
    flex-grow: 1;
}

.progress-container {
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5em;
    padding: var(--padding);
    transform: translateY(100%);
    opacity: 0;
    transition: transform 0.3s var(--default-cubic-bezier), opacity 0.3s var(--default-cubic-bezier);
}

.progress-container.show {
    transform: translateY(0);
    opacity: 1;
}

.progress-container .progress-label {
    font-size: var(--fs-footnote);
    color: var(--secondary-color);
}

.progress-cancel-button {
    border-radius: var(--border-radius-small);
    width: 0.75em;
    height: 0.75em;
    background-color: var(--secondary-color);
    border: none;
    margin-left: 0.3em;
    transform: translateY(1%);
    transition: all 0.1s var(--default-cubic-bezier);
}

.progress-cancel-button:hover {
    filter: brightness(90%);
}

.progress-cancel-button:active {
    filter: brightness(80%);
}

.progressing-indicator {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
}

.progressing-indicator .dot {
    background-color: var(--secondary-color);
    border-radius: 50%;
    width: 4px;
    height: 4px;

    /* Animation */
    animation: loading-dot 1.4s infinite;
    animation-timing-function: linear;
}

.progressing-indicator .dot:nth-child(2) {
    animation-delay: 0.2s;
}

.progressing-indicator .dot:nth-child(3) {
    animation-delay: 0.4s;
}

@keyframes loading-dot {
    0%, 80%, 100% {
        transform: scale(0.4);
    }
    40% {
        transform: scale(1.0);
    }
}

@keyframes fadeInFromLeft {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeInFromRight {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes shadowScaleUp {
    0% {
        opacity: 0;
        transform: scale(0.5, 0) translateY(-100%);
    }
    100% {
        opacity: 1;
        
        transform: scale(1, 1) translateY(0);
    }
}

@media (max-width: 600px) {
    .message-node {
        max-width: 100%;
    }
}
